<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />
	<meta name="author" content="Brian Jones" />
	<meta name="robots" content="all" />

	<title>{{ page.title }}</title>
	
	<style type="text/css" media="all">
		@import "/static/css/mojobojo.css";
		@import "/static/css/syntax.css";
	</style>


	<script type="text/javascript">
	   // window.location.href = 'https://github.com/datianyun/datianyun.github.io/issues?state=open';
	</script>


</head>

<body id="main">

	<div id="content">
		<div id="header" align="center">
			<h1><a href="/" title="datianyun.github.io">{{ site.title }}</a></h1>
		</div>
		
		<div id="content_body">
			{{ content }}
		</div>

	</div>
	
</body>
</html>
